.sale
{
  top: 0.5rem; 
  right: 0.5rem
}
.card-img-top
{
  height: 300px;
  width:  100%;

}
.btn-danger
{
  color: white;
  outline: none;
  border: none;
}
.btn-danger:hover
{
  color: white;
  outline: none;
  border: none;
  background-color: red;
}